/* General Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #e5f2fa;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    color: #333;
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7589C2;
    padding: 10px;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}
  
.nav-middle {
    text-align: center;
    flex-grow: 1;
}

.nav-left span, .nav-middle h1 {
    color: #fff;
}

.fas {
    font-size: 30px;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
}

/* Toggle Buttons */
.toggle-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.toggle-buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #7589C2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.toggle-buttons button:hover {
    background-color: #5f73a7;
}

/* Notes Container */
.notes-container {
    max-width: 1200px;
    margin: 2em auto;
    padding: 1em;
}

.filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

#faculty {
    padding: 0.5em;
    font-size: 1em;
    margin-right: 1em;
}

#search-input {
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-btn {
    padding: 0.5em 1em;
    background-color: #6b6eb9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Notes Grid */
.notes-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
}

/* Note Card */
.note-card {
    background-color: #a69de4;
    padding: 1.5em;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    text-align: center;
    font-size: 1.2em;
    margin: 1em 0;
}

.note-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.preview-btn {
    padding: 0.7em;
    background-color: #c1e1b4;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.lock-icon {
    font-size: 1.2em;
    padding-left: 5px;
}
