body {
    background-color: #d1f1ff; /* Light blue background */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7589C2;
    padding: 10px;
}

.navbar .nav-left, .navbar .nav-right {
    display: flex;
    align-items: center;
}

.navbar .nav-left span, .navbar h1 {
    color: white;
    font-size: 24px;
}

.navbar .fas {
    color: white;
    font-size: 30px;
    margin-right: 10px;
}

h3 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #333;
}

.card {
    border-radius: 15px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #5c68f0;
}

/* Styling for the time slots */
.time-slot {
    background-color: #5c68f0;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}

.time-slot.selected {
    background-color: #4CAF50;
}

.confirm-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.confirm-btn:hover {
    background-color: #45a049;
}
