/* General Layout */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eef2f7;
    color: #333;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7589C2;
    padding: 10px;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav-middle {
    text-align: center;
    flex-grow: 1;
}

h1 {
    font-size: 24px;
    color: white;
}

.fas {
    font-size: 30px;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}

/* Chat Container */
.chat-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Chat Header */
.chat-header {
    background-color: #627fca;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.unread-chats {
    font-size: 14px;
    color: #fff;
}

/* Chat Box */
.chat-box {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #eef2f7;
    display: flex;
    flex-direction: column;
}

/* Message Styling */
.message-left, .message-right {
    display: flex;
    margin-bottom: 15px;
}

.message-left {
    justify-content: flex-start;
}

.message-right {
    justify-content: flex-end;
}

.message-content {
    background-color: #627fca;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    max-width: 60%;
    word-wrap: break-word;
}

.message-right .message-content {
    background-color: #ebebeb;
    color: #333;
}

.message-timestamp {
    font-size: 12px;
    color: #777;
    margin-top: 5px;
}

.read-receipt {
    font-size: 12px;
    margin-left: 5px;
    color: #666;
}

/* Typing Indicator */
.typing-indicator {
    font-style: italic;
    color: #777;
    padding: 10px;
    display: none; /* Hidden by default */
}

/* Input Box */
.chat-input-box {
    display: flex;
    padding: 15px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    align-items: center;
}

.chat-input {
    flex: 1;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 30px;
    outline: none;
}

#send-button, .emoji-button, .file-button {
    background: none;
    border: none;
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
}

#send-button {
    padding: 10px 20px;
    background-color: #FF5C5C;
    color: white;
    border-radius: 30px;
}

#send-button:hover {
    background-color: #FF3B3B;
}

#file-button:hover, #emoji-button:hover {
    opacity: 0.8;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .chat-container {
        margin: 10px;
        height: 90vh;
    }
    .message-content {
        max-width: 80%;
    }
}
